@import "~react-image-gallery/styles/css/image-gallery.css";

.header__banner {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 70%;
    background-color: green;
}

.header__banner .banner__image{
    width: 100%;
    height: 500px;
    
}
.header__banner .banner__image .image-gallery {  
    width: 100%;
    height: 100%;
    align-items:center;
    align-content: center;
    object-position: center center;
    object-fit: cover;
}

.header__banner .banner__image .image-gallery .image-gallery-slide img {
    width: 100%;
    height: 500px;
    /* max-height: 50vh;
    max-width: 70vw; */
    object-fit: cover;
    overflow: hidden;
    object-position: center center;
}

.banner_description{
    background: rgba(13, 32, 13, 0.726);
    top: 6rem;
    height: fit-content;
    width: 30rem;
    color: yellow;
    left: 20%; 
    line-height: 1;
    padding: 10px 20px;
    position: absolute;
    white-space: normal;
    justify-content: center;
    align-items: center;
}

.banner_descriptionHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    width:24rem;
    height: 6rem;
    
}

.event__category > h1{
    font-size: 50px;
    color: white;
    font-weight: 'bold';
    font-family: inherit;
}

.event__date {
    display: flex;
    width: 30px;
    flex-wrap: wrap;
}

.event__date > p{
    color:white;
    font-size: 20px;
}

.banner_descriptionBody{
    color:white;
    margin: 10px;
}

.banner_descriptionBody > h1{
    color:white;
    margin-bottom: 30px;
}